<h1>Como me veo en el futuro</h1>
<p>En el futuro me veo como alguien que logra cumplir sus objetivos y metas, sin importar lo que venga. En el futuro me quiero graduar de Ingeniero en Sistmeas en la Universidad de San Carlos y poder trabajar en las grandes empresas de desarrollo web. Quiero ser una persona Ordenada y Responsable.</p>
<div>
	<img src="http://noticias.universia.es/net/images/consejos-profesionales/l/la/las/las-20-carreras-con-mayor-futuro-laboral.jpg">
</div>

<style>
	 body {
  	background: url("https://s-media-cache-ak0.pinimg.com/originals/35/eb/7d/35eb7d5bce221d9392feb1e426ba48af.jpg") no-repeat fixed;
  	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
  	color: white;
  }
  
  h1 {
  	text-align: center;
  }
  div {
  	text-align: center;
  }
  img{
  	width: 500px;
  }
</style>
